:root {
    --color-primary-bg: #d8f3dc;
    --color-text-body: #043915;
    --color-primary: #40916c;
    --color-secondary-bg: #b7e4c7;
    --color-primary-action: #b7e4c7;
    --color-nav-item-hover: #081c15;
    
    --color-modal-shadow: rgba(0, 0, 0, 0.3);
}

body {
    background-color: var(--color-primary-bg);
    color: var(--color-text-body);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}


.navbar,
.footer {
    background-color: var(--color-secondary-bg);
    padding: 10px 0;
}

.navbar {
    border-bottom: 1px solid var(--color-primary);
}

.navbar-inner,
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand img {
    height: 30px;
    vertical-align: middle;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-list a {
    text-decoration: none;
    color: var(--color-text-body);
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-list a.active {
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
}

.nav-list a:hover {
    color: var(--color-nav-item-hover);
    border-bottom: 2px solid var(--color-primary);
}

.container.profile {
    padding: 20px 0;
    min-height: 50vh;
}

button {
    background-color: var(--color-primary-action);
    color: var(--color-text-default);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-bg);
}

#kobita {
    padding: 15px 0;
    font-size: 1.1em;
    line-height: 1.6;
    white-space: pre-wrap;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    display: none;
    place-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-primary-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px var(--color-modal-shadow);
    width: 90%;
    max-width: 500px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.modal-header h3 {
    color: var(--color-primary);
    margin: 0;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    line-height: 1;
    color: var(--color-primary);
    padding: 5px;
    transition: color 0.3s;
}

.close-button:hover {
    color: var(--color-primary-action);
}

textarea#brain {
    border: 1px solid var(--color-primary);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100% !important;
}